<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Radar Camera Sensor Fusion</title>
        <meta name="author" content="Ben Elo">
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    </head>
    <body>
        <div id="top-down-view">
            <p>Radar Range Data</p>
            <canvas id="range-view-canvas">
            </canvas>
        </div>
        <div id="right-view">
            <p>Camera View</p>
            <div class="aspect-container">
                <canvas id="camera-view-canvas">
                </canvas>
            </div>
            <h2>Radar Camera Sensor Fusion Demo</h2>
            <p>Here we use two sensors, a digital camera and a radar system to find and detect people in a scene and provide their range information. The camera uses a pre trained SDD model to find and detect objects. We then use peak detection to identify objects from the radar system and apply a perspective tranformation to the radar data to map the data points onto the camera images.</p>
            <p>If the range data point lands in the bounding box of a person, then that point is assigned to that person. Thus we can develop a 3d view of where people are in a given scene through the fusion of these two sensors.</p>
        </div>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>